body {
    background-color: #000;
    margin: 10px 0px 20px 0px;
    padding: 0px 10px 0px 10px;
}

.digitar {
  margin: 20px 0px 20px 30px;
}

.botao-confirm {
  margin: 0px 0px 0px 30px;
}

form {
  color: rgb(248, 246, 246);
  margin-left: 25px;
  margin-top: 25px;
  font-size: 35px;
  text-shadow: 2px 2px rgb(110, 8, 136); 
  font-family: 'Russo One', sans-serif; 
}

.bg-dark {
  background: linear-gradient(-45deg, #45034d 0%, #40c9ff 100% );
}


.navbar .navbar-brand {
  margin-left: 20px;
  font-size: 45px;
  text-shadow: 2px 2px rgb(110, 8, 136); 
  font-family: 'Russo One', sans-serif; 
} 

.nav-item {
  font-size: 20px;
  margin-right: 45px;
  font-family: 'Russo One', sans-serif;
}

.button {
    font-family: 'Russo One', sans-serif;
    position: relative;
    float: left;
    width: 240px;
    height: 80px;
    background-color: #000;
    display: flex;
    align-items: center;
    color: rgb(80, 95, 235);
    flex-direction: column;
    justify-content: center;
    border: none;
    margin: 50px 35px 25px 35px;
    padding: 15px;
    gap: 12px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 28px;
  }
  
  .button::before {
    content: '';
    position: absolute;
    inset: 0;
    left: -4px;
    top: -1px;
    margin: auto;
    width: 248px;
    height: 88px;
    border-radius: 10px;
    background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
    z-index: -10;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .button::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
  }
  
  .button:hover::after {
    filter: blur(100px);
  }
  
  /*.button:hover::before {
    transform: rotate(-180deg);
  }*/
  
  .button:active::before {
    scale: 0.8;
  }  

/******************** RODAPÉ ************************/  

footer {
  
  padding: 20px;
  text-align: center;
  margin-top: 35%;
  background: linear-gradient(-45deg, #40c9ff 0%, #45034d 100% );
}

.rodape p {
  margin-bottom: 10px;
  color: rgb(7, 0, 0);
  font-size: 20px;
}

.rodape ul {
  list-style-type: none;
  padding: 10;
}

.rodape ul li {
  display: inline;
  margin-right: 35px;
}

.rodape ul li a {
  text-decoration: none;
  color: #0c0101;
}

.rodape ul li a i:hover {
  text-decoration: underline;
}

/**************** PAGE BLOCO *****************/

.botao-voltar {
  border-radius: 8px;
  font-size: 22px;
}


